@import "tailwindcss";


button {
      cursor: pointer;
}

::-webkit-scrollbar {
      width: 0;
}

#messageBox {
      position: fixed;
      animation: fadeIn 0.3s forwards, fadeOut 0.3s forwards 3s;
}

@keyframes fadeIn {
      from {
            transform: translateX(-100%);
            opacity: 0;
      }

      to {
            transform: translateX(0);
            opacity: 1;
      }
}

@keyframes fadeOut {
      from {
            transform: translateX(0);
            opacity: 1;
      }

      to {
            transform: translateX(-100%);
            opacity: 0;
      }
}